<%= form_for [:admin, @game] do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league %><br />
    <%= f.select :league_id, leagues %>
  </div>
  <div class="field">
    <%= f.label :player_one_id %><br />
    <%= f.select :player_one_id,  player_names %>
  </div>
  <div class="field">
    <%= f.label :player_two_id %><br />
    <%= f.select :player_two_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_three_id %><br />
    <%= f.select :player_three_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_four_id %><br />
    <%= f.select :player_four_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :cups_left %><br />
    <%= f.number_field :cups_left %>
  </div>
  <div class="field">
    <%= f.label :is_team_one_victory, "Winner of game" %><br />
    <%= f.select :is_team_one_victory, options_for_game_winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
