<h1>Listing games</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'New Game', new_admin_game_path %>

<table>
  <tr>
    <th>League</th>
    <th>Player one</th>
    <th>Player two</th>
    <th>Player three</th>
    <th>Player four</th>
    <th>Winning team
    <th>Cups Left</th>
    <th>Date</th>

    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.league.name %></td>
    <td><%= game.player_one.name %></td>
    <td><%= game.player_two.name %></td>
    <td><%= game.player_three.name %></td>
    <td><%= game.player_four.name %></td>
    <td><%= winner_string(game) %></td>
    <td><%= game.cups_left %></td>
    <td><%= game.created_at.to_formatted_s %></td>

    <td><%= link_to 'Edit', edit_admin_game_path(game) %></td>
    <td><%= link_to 'Destroy', admin_game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
