<% content_for :head do %>
<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    position: relative;
  }
  #leader-board {
    position: absolute;
    left: 300px;
    top: 4em;
  }
  .experimental {
    position: relative;
    float:right;
    padding-right: 1em;
  }
  .experimental sup {
    color: red;
    font-weight: bold;
    -moz-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    display: block;
    left: -1em;
    position: absolute;
    top: -0.7em;
    font-size: 0.538em;
  }
</style>
<% end %>

<div class="experimental">
  <ul>
    <li>
      <sup>New</sup>
      <a href="<%= odds_games_path %>">Odds Calculator</a>
  </ul>
</div>

<h1>Canuto Tacderan Cup</h1>
<%= render 'games/form' %>

<p>Total Number of Games Recorded: <%= @num_games %></p>

<a href="<%= games_path %>">List all games</a>

<%= render 'players/form' %>

<div id="leader-board">
  <h4>Leaderboard</h4>
  <%= render 'comparisons' %>
</div>
