<h1>Add game</h1>

<%= render 'games/form' %>

<h4>Leaderboard</h4>
<ul>
  <% @players_hash.sort_by {|k,v| v}.reverse.each do |k,v| %>
    <li><%= "#{k}: #{v}" %>
  <% end %>
</ul>
<p>Total Number of Games Recorded: <%= @num_games %></p>

<a href="<%= games_path %>">List all games</a>

<%= render 'players/form' %>
