<%= form_for([@league, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_one_id, "Team One" %><br />
    <%= f.select :player_one_id,  player_names %>
  </div>
  <div class="field">
    <%= f.label :player_two_id, "Team One" %><br />
    <%= f.select :player_two_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_three_id, "Team Two" %><br />
    <%= f.select :player_three_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_four_id, "Team Two" %><br />
    <%= f.select :player_four_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :cups_left %><br />
    <%= f.number_field :cups_left %>
  </div>
  <div class="actions">
    <%= hidden_field_tag :mode %>
    <%= f.submit "Team One Wins", name: "completed" %>
    <%= f.submit "Start Interactive Mode", name: "interactive" %>
  </div>
<% end %>

<% content_for(:script) do %>
<script>
$('input[type=submit]').click(function(){
$('#mode').val($(this).attr('name'));
$(this).submit();
});
</script>
<% end %>
