<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playerOneWinner %><br />
    <%= f.text_field :playerOneWinner %>
  </div>
  <div class="field">
    <%= f.label :playerTwoWinner %><br />
    <%= f.text_field :playerTwoWinner %>
  </div>
  <div class="field">
    <%= f.label :playerOneLoser %><br />
    <%= f.text_field :playerOneLoser %>
  </div>
  <div class="field">
    <%= f.label :playerTwoLoser %><br />
    <%= f.text_field :playerTwoLoser %>
  </div>
  <div class="field">
    <%= f.label :cupsLeft %><br />
    <%= f.text_field :cupsLeft %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
