<%= form_for([@league, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_one_id, "Winner One" %><br />
    <%= f.select :player_one_id,  player_names %>
  </div>
  <div class="field">
    <%= f.label :player_two_id, "Winner Two" %><br />
    <%= f.select :player_two_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_three_id, "Loser One" %><br />
    <%= f.select :player_three_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :player_four_id, "Loser Two" %><br />
    <%= f.select :player_four_id, player_names %>
  </div>
  <div class="field">
    <%= f.label :cups_left %><br />
    <%= f.number_field :cups_left %>
  </div>
  <div class="actions">
    <%= f.hidden_field :is_team_one_victory %>
    <%= f.submit "Add Game" %>
  </div>
<% end %>
