<h1>Odds Calculator</h1>

<% if @expected_outcome %>
EXPECTED OUTCOME: <br />
Team 1 has a total score of <%= @game.total_winner_score %>, and a <%= number_to_percentage(@expected_outcome.first * 100) %> chance to win<br />
Team 2 has a total score of <%= @game.total_loser_score %>, and a <%= number_to_percentage(@expected_outcome.last * 100) %> chance to win

<hr />
<% end %>

<%= form_for @game, :url => odds_games_path(@game), :method => :get do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner_one, "Team 1 Player 1" %><br />
    <%= f.select :winner_one_id, @players.collect {|p| [ p.name, p.id ]} %>
  </div>
  <div class="field">
    <%= f.label :winner_two, "Team 1 Player 2" %><br />
    <%= f.select :winner_two_id, @players.collect {|p| [ p.name, p.id ]} %>
  </div>
  <div class="field">
    <%= f.label :loser_one, "Team 2 Player 1" %><br />
    <%= f.select :loser_one_id, @players.collect {|p| [ p.name, p.id ]} %>
  </div>
  <div class="field">
    <%= f.label :loser_two, "Team 2 Player 2" %><br />
    <%= f.select :loser_two_id, @players.collect {|p| [ p.name, p.id ]} %>
  </div>
  <div class="actions">
    <%= f.submit "Calculate Odds" %>
  </div>
<% end %>
