<% content_for :head do %>
  <style>
   h1 { font-size: 50px; }

   .game {
     text-align: center;
   }
   .team{
     position: relative;
     width: 600px;
     margin: 0 auto;
   }

   .player {
     position: absolute;
     width: 150px;
     height: 150px;
     line-height: 150px;
     background-color: green;
     font-weight: bold;
     -webkit-border-radius: 75px;
     -moz-border-radius: 75px;
   }

   .player:hover {
     background-color: #fff;
     border: #000000 2px solid;
     box-sizing: border-box;
   }

   .player.one {left: 0;top: 0;}
   .player.two {right: 0;top: 0;}
   .player.three {left: 0;bottom: 0;}
   .player.four {right: 0;bottom: 0;}

   .rerack-selector {
     margin: 10px;
   }

   .rack {
     margin: 0 auto 50px auto;
     width: 600px;
     position: relative;
   }

   .row {
     width: 215px;
     text-align: center;
     margin: 0 auto;
   }

   .cup {
     width: 50px;
     height: 50px;
     line-height: 50px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     background-color: red;
     text-align: center;
     font-weight: bold;
     color: #fff;
     display: inline-block;
     box-sizing: border-box;
   }

   div.hit {
     background-color: gray;
   }
   div.hit span {
     visibility: hidden;
   }

   .cup:hover {
     background-color: #fff;
     color: #000;
   }

   div.hit:hover {
     background-color: gray;
     color: #fff;
   }

   #select-winner {
     display: none;
   }

   #back-to-league {
     position: absolute;
     top: 10px;
     right: 10px;
   }

   #hit-or-miss {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     text-align: center;
     background-color: #000;
     opacity:0.9;
     filter:alpha(opacity=90);
     z-index: 100;
     display: none;
   }

   #hit-or-miss a{
     display: inline-block;
     margin: 25% 20px;
     width: 250px;
     height: 70px;
     background-color: #fff;
     text-decoration: none;
     font-size: 50px;
   }

   #hit-or-miss a:hover{
     color: #000;
     background-color: #ffe;
   }

   #actions {
     text-transform: uppercase;
   }

   .log {
     position: absolute;
     left: 0;
     top: 0;
   }

   #shot-log { text-align: left; }

   #shot-log li {
     list-style-type: none;
   }

   li.hit:before {
     content: "HIT";
     color: green;
     padding-right:16px;
   }

   li.miss:before {
     content: "MISS";
     color: red;
     padding-right:5px;
   }

  </style>
<% end %>

<div class="game">
  <div class="team">
    <h1>Team 1</h1>
    <div class="player one" data-player-id=<%= @game.player_one_id %> data-team-id=1><%= @game.player_one.name %></div>
    <div class="player two" data-player-id=<%= @game.player_two_id %> data-team-id=1><%= @game.player_two.name %></div>
  </div>

  <div class="rack team-2">
    <select class="rerack-selector" data-team=2>
      <option value=1 >1st Rack</option>
      <option value=2 >2nd Rack</option>
      <option value=3 >3rd Rack</option>
    </select>

    <div class="rerack rerack-1">
      <div class="row">
	<div data-cup-position=7 class="cup<%= check_hit(@game, 2, 7) %>"><span>7</span></div>
	<div data-cup-position=8 class="cup<%= check_hit(@game, 2, 8) %>"><span>8</span></div>
	<div data-cup-position=9 class="cup<%= check_hit(@game, 2, 9) %>"><span>9</span></div>
	<div data-cup-position=10 class="cup<%= check_hit(@game, 2, 10) %>"><span>10</span></div>
      </div>
      <div class="row">
	<div data-cup-position=4 class="cup<%= check_hit(@game, 2, 4) %>"><span>4</span></div>
	<div data-cup-position=5 class="cup<%= check_hit(@game, 2, 5) %>"><span>5</span></div>
	<div data-cup-position=6 class="cup<%= check_hit(@game, 2, 6) %>"><span>6</span></div>
      </div>
      <div class="row">
	<div data-cup-position=2 class="cup<%= check_hit(@game, 2, 2) %>"><span>2</span></div>
	<div data-cup-position=3 class="cup<%= check_hit(@game, 2, 3) %>"><span>3</span></div>
      </div>
      <div class="row">
	<div data-cup-position=1 class="cup<%= check_hit(@game, 2, 1) %>"><span>1</span></div>
      </div>
    </div>

    <div class="rerack rerack-2" style='display:none;'>
      <div class="row">
	<div data-cup-position=14 class="cup<%= check_hit(@game, 2, 14) %>"><span>14</span></div>
	<div data-cup-position=15 class="cup<%= check_hit(@game, 2, 15) %>"><span>15</span></div>
	<div data-cup-position=16 class="cup<%= check_hit(@game, 2, 16) %>"><span>16</span></div>
      </div>
      <div class="row">
	<div data-cup-position=12 class="cup<%= check_hit(@game, 2, 12) %>"><span>12</span></div>
	<div data-cup-position=13 class="cup<%= check_hit(@game, 2, 13) %>"><span>13</span></div>
      </div>
      <div class="row">
	<div data-cup-position=11 class="cup<%= check_hit(@game, 2, 11) %>"><span>11</span></div>
      </div>
    </div>

    <div class="rerack rerack-3" style='display:none;'>
      <div class="row">
	<div data-cup-position=18 class="cup<%= check_hit(@game, 2, 18) %>"><span>18</span></div>
	<div data-cup-position=19 class="cup<%= check_hit(@game, 2, 19) %>"><span>19</span></div>
      </div>
      <div class="row">
	<div data-cup-position=17 class="cup<%= check_hit(@game, 2, 17) %>"><span>17</span></div>
      </div>
    </div>
  </div>

  <div class="rack team-1">
    <div class="rerack rerack-1">
      <div class="row">
	<div data-cup-position=1 class="cup<%= check_hit(@game, 1, 1) %>"><span>1</span></div>
      </div>
      <div class="row">
	<div data-cup-position=3 class="cup<%= check_hit(@game, 1, 3) %>"><span>3</span></div>
	<div data-cup-position=2 class="cup<%= check_hit(@game, 1, 2) %>"><span>2</span></div>
      </div>
      <div class="row">
	<div data-cup-position=6 class="cup<%= check_hit(@game, 1, 6) %>"><span>6</span></div>
	<div data-cup-position=5 class="cup<%= check_hit(@game, 1, 5) %>"><span>5</span></div>
	<div data-cup-position=4 class="cup<%= check_hit(@game, 1, 4) %>"><span>4</span></div>
      </div>
      <div class="row">
	<div data-cup-position=10 class="cup<%= check_hit(@game, 1, 10) %>"><span>10</span></div>
	<div data-cup-position=9 class="cup<%= check_hit(@game, 1, 9) %>"><span>9</span></div>
	<div data-cup-position=8 class="cup<%= check_hit(@game, 1, 8) %>"><span>8</span></div>
	<div data-cup-position=7 class="cup<%= check_hit(@game, 1, 7) %>"><span>7</span></div>
      </div>
    </div>

    <div class="rerack rerack-2" style='display:none;'>
      <div class="row">
	<div data-cup-position=11 class="cup<%= check_hit(@game, 1, 11) %>"><span>11</span></div>
      </div>
      <div class="row">
	<div data-cup-position=13 class="cup<%= check_hit(@game, 1, 13) %>"><span>13</span></div>
	<div data-cup-position=12 class="cup<%= check_hit(@game, 1, 12) %>"><span>12</span></div>
      </div>
      <div class="row">
	<div data-cup-position=16 class="cup<%= check_hit(@game, 1, 16) %>"><span>16</span></div>
	<div data-cup-position=15 class="cup<%= check_hit(@game, 1, 15) %>"><span>15</span></div>
	<div data-cup-position=14 class="cup<%= check_hit(@game, 1, 14) %>"><span>14</span></div>
      </div>
    </div>

    <div class="rerack rerack-3" style='display:none;'>
      <div class="row">
	<div data-cup-position=17 class="cup<%= check_hit(@game, 1, 17) %>"><span>17</span></div>
      </div>
      <div class="row">
	<div data-cup-position=19 class="cup<%= check_hit(@game, 1, 19) %>"><span>19</span></div>
	<div data-cup-position=18 class="cup<%= check_hit(@game, 1, 18) %>"><span>18</span></div>
      </div>
    </div>

    <select class="rerack-selector" data-team=1>
      <option value=1 >1st Rack</option>
      <option value=2 >2nd Rack</option>
      <option value=3 >3rd Rack</option>
    </select>

  </div>

  <div class="team">
    <div class="player three" data-player-id=<%= @game.player_three_id %> data-team-id=2><%= @game.player_three.name %></div>
    <div class="player four" data-player-id=<%= @game.player_four_id %> data-team-id=2><%= @game.player_four.name %></div>
    <h1>Team 2</h1>
  </div>

  <div class="log">
    <h2>Shot Log</h2>
    <ul id="shot-log">
      <% @game.shots.reverse.each do |shot| %>
	<li class="team-<%= team_for_shot(shot) %> <%= hit_or_miss(shot) %>"><%= shot.player.name %><%= cup_position(shot) %></li>
      <% end %>
    </ul>
  </div>


  <%= link_to "Select Winner", league_path(@game.league_id), :id => 'show-select-winner' %><br />

  <div id="select-winner">
    <%= form_tag(select_winner_league_game_path(@game.league, @game), method: :post) do |f| %>
      <%= label_tag :winning_team, "Winning Team" %>: <%= select_tag :winning_team,  options_for_select([["Team 1", 1], ["Team 2", 2]]) %><br />
      <%= label_tag :cups_left, "Cups Left" %>: <%= text_field_tag :cups_left %><br />
      <%= submit_tag "Record Winner!" %>
    <% end %>
  </div>
</div>

<%= link_to "Back to league page", league_path(@game.league_id), :id => 'back-to-league' %>

<div id="hit-or-miss">
  <div id="actions">
    <a href="#" id="hit">Hit</a>
    <a href="#" id="miss">Miss</a>
    <a href="#" id="cancel">Cancel</a>
  </div>
</div>

<% content_for :script do %>
  <script>
   var player;
   var team;
   var is_hit;

   function toggle_select_winner(){
     $('#select-winner').toggle();
   }

   function show_hit_miss(){
     $('#hit-or-miss').fadeIn();
   }

   function select_cup() {
     $('#actions').hide();
     $(".rack.team-" + team).css("z-index", 101);
   }

   function add_shot(shot){
     //add to log
     hit = shot["is_hit"] ? 'hit' : 'miss';
     cup_position = shot["is_hit"] ? ' (cup #' + shot['cup_position'] + ')' : '';
     ele = '<li class="team-' + shot["team"] + ' ' + hit + '">' + shot["player_name"] + cup_position + '</li>';
     $('#shot-log').prepend(ele);

     //mark cup as hit
     cup_div = $('.rack.team-' + shot['team']).find('div[data-cup-position="' + shot['cup_position'] + '"]');
     cup_div.addClass("hit");
   }

   function create_shot(cup_position){
     $.ajax({
       url: "<%= create_shot_league_game_path(@league, @game) %>",
       type: "POST",
       data: {
	 shot: {
	   player_id: player,
	   is_hit: is_hit,
	   cup_position: cup_position }}, //"shot[player_id]": player, "shot[is_hit]": is_hit, "shot[cup_position]": cup_position },
       success: function(response) {
	 add_shot(response);
       }
     });

     reset();
   }

   function reset(){
     player = null;
     is_hit = null;
     $(".rack").css("z-index", 1);
     $('#hit-or-miss').fadeOut();
     $('#actions').show();
   }

   $(document).ready(function() {

     $('.player').click(function(){
       player = $(this).data('player-id');
       team = $(this).data('team-id');
       show_hit_miss();
     });

     $('#cancel').click(function(){
       reset();
     });

     $('#hit').click(function(){
       is_hit = true;
       select_cup();
     });

     $('#miss').click(function(){
       is_hit = false;
       create_shot(null);
     });

     $('.cup').click(function(){
       if(!$(this).hasClass('hit')){
	 cup_position = $(this).data('cup-position');
	 create_shot(cup_position);
       }
     });

     $('.rerack-selector').on('change', function() {
       selected_rack = this.value;
       team = $(this).data('team');
       $('div.team-' + team + ' .rerack').hide();
       $('div.team-' + team + ' .rerack-' + selected_rack).show();
     });

     $('#show-select-winner').click(function(){
       event.preventDefault()
       toggle_select_winner();
     });


   });
  </script>
<% end %>
