<p id="notice"><%= notice %></p>

<p>
  <b>Winner one:</b>
  <%= @game.winner_one.name %>
</p>

<p>
  <b>Winner two:</b>
  <%= @game.winner_two.name %>
</p>

<p>
  <b>Loser one:</b>
  <%= @game.loser_one.name %>
</p>

<p>
  <b>Loser two:</b>
  <%= @game.loser_two.name %>
</p>

<p>
  <b>Cups left:</b>
  <%= @game.cups_left %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
