<p id="notice"><%= notice %></p>

<h2>Team 1</h2>
<p>
  <b>Player one:</b>
  <%= @game.player_one.name %>
</p>

<p>
  <b>Player two:</b>
  <%= @game.player_two.name %>
</p>

<h2>Team 2</h2>
<p>
  <b>Player one:</b>
  <%= @game.player_three.name %>
</p>

<p>
  <b>Player two:</b>
  <%= @game.player_four.name %>
</p>

<h2>Winning Team <%= @game.is_team_one_victory ? "TEAM 1" : "TEAM 2" %></h2>
<p>
  <b>Cups left:</b>
  <%= @game.cups_left %>
</p>


<%= link_to 'Edit', edit_league_game_path(@league, @game) %> |
<%= link_to 'Back', league_games_path %>
