<!DOCTYPE html>
<html>
<head>
  <title>Canute Tacderan Cup</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body style="font-size: 13px; line-height: 1.5;">
  <%= yield %>

  <%= yield :script %>
</body>
</html>
